button {
  &.btn-primary, &.btn-secondary {
    cursor: pointer;
    font-size: 0.9em;
    padding: 0.3em 0.5em;
    &.disabled, &:disabled{
        cursor: not-allowed;
    }
  }
}

.form-control {
  padding: 0.1em 0.2em;
  height: calc(1em + 0.75rem + 2px);
}

.form {
    border: 1px solid var(--border-color);
    padding: .5em;
    border-radius: 5px;
    label {
        font-weight: bold;
        font-size: .8em;
    }
}

.mw-170 {
    max-width: 170px;
}

.error-msg {
    color: var(--red-color);
  }
  